
.nav {
    padding-left: 12%;
}

.nav-else {
    padding: 8px;
}

.search-query {
    border-radius: 14px;
    padding: 4px 9px;
    border: 1px solid #151515;
}

.icon-home:before {
    content: "\f015";
}

.icon-leaf:before {
    content: "\f06c";
}

.icon-shopping-cart:before {
    content: "\f07a";
}

.icon-money:before {
    content: "\f0a1";
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}


.btn-home, .btn-sell, .btn-buy {
    background-color: green;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.btn-sell, .btn-buy {
    float: right;
    
}

.panel {
padding-left: 8px;
padding-right: 8px;
padding-bottom: 8px;
}

.panel-sell, .panel-buy {
padding-bottom: 33px;
}

.home-search, .form-control, .status, .login {
    align-items: center;
    text-align: center;
}



.container {
    margin-bottom: 25px;
    padding-top: 8px;
}

h1, .h1 {
    font-size: 4.5em;
    color: #ffffff;
    text-align: center;
    margin-top: 69px;
}
h3, .h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    
}
h3, .h3 {
    text-align: center;
    font-size: 2.2em;
    
}

body {
     background-image: url("http://cache.gawkerassets.com/assets/images/gizmodo/2011/08/young_steve_jobs21.jpg");
}


.input-group {
    padding-top: 8px;
}


ol, ul {
    display: inline-flex;
    list-style: none inside none;
}
li {
    padding-right: 8px;
}

.copyright {
    color: #fff;
}

.footer.inline-list {
    bottom: 30px;
    font-size: 0.9em;
    position: absolute;
    
}