<!DOCTYPE html>
<html ng-app="vmApp">
    
<head>
<title>Verse Markt</title>
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<link href="versemarkt/versemarkt.css" rel="stylesheet" />
<script src="angular/angular.min.js"> </script> 
</head>
    
<body ng-controller="VMCtrl">

<header class="header">
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="brand" style="padding-top: 6px; padding-bottom: 0px;" href="http://angularjs.org">
<img class="AngularJS-small" src="img/AngularJS-small.png">
</a>
<ul class="nav">
<li class="divider-vertical"></li>
<li class="active">
<a href="http://angularjs.org/">
<i class="icon-home icon-white"></i>
Home
</a>
</li>
<li class="divider-vertical"></li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<i class="icon-eye-open icon-white"></i>
Learn
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li class="disabled">
<a href="">Home</a>
</li>
<li>
<a href="https://www.youtube.com/user/angularjs">Videos</a>
</li>
<li>
<a href="http://angular.codeschool.com/">Free Course</a>
</li>
<li>
<a href="http://docs.angularjs.org/tutorial">Tutorial</a>
</li>
<li>
<a href="http://builtwith.angularjs.org">Case Studies</a>
</li>
<li>
<a href="https://github.com/angular/angular-seed">Seed App project template</a>
</li>
<li>
<a href="http://docs.angularjs.org/misc/faq">FAQ</a>
</li>
</ul>
</li>
<li class="divider-vertical"></li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<i class="icon-book icon-white"></i>
Develop
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li>
<a href="http://docs.angularjs.org/tutorial">Tutorial</a>
</li>
<li>
<a href="http://docs.angularjs.org/guide">Developer Guide</a>
</li>
<li>
<a href="http://docs.angularjs.org/api">API Reference</a>
</li>
<li>
<a href="http://docs.angularjs.org/misc/contribute">Contribute</a>
</li>
<li>
<a href="http://code.angularjs.org/">Download</a>
</li>
</ul>
</li>
<li class="divider-vertical"></li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<i class="icon-comment icon-white"></i>
Discuss
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li>
<a href="http://blog.angularjs.org">Blog</a>
</li>
<li>
<a href="http://groups.google.com/group/angular">Mailing List</a>
</li>
<li>
<a href="http://webchat.freenode.net/?channels=angularjs&uio=d4">Chat Room</a>
</li>
<li class="divider"></li>
<li>
<a href="https://twitter.com/#!/angularjs">Twitter</a>
</li>
<li>
<a href="https://plus.google.com/110323587230527980117">Google+</a>
</li>
<li class="divider"></li>
<li>
<a href="https://github.com/angular/angular.js">GitHub</a>
</li>
<li>
<a href="https://github.com/angular/angular.js/issues">Issue Tracker</a>
</li>
</ul>
</li>
<li class="divider-vertical"></li>
</ul>
<form class="navbar-search pull-right ng-pristine ng-valid" action="https://www.google.com/search" method="GET">
<input class="search-query" type="text" placeholder="Search" name="as_q">
<input type="hidden" value="angularjs.org" name="as_sitesearch">
</form>
</div>
</div>
</div>
</header>
    
<div class="page-header">
<h1>
Verse Markt   
</h1>
    </div>
<div class="panel">
   
<h3>
    verse producten
    <span class="label label-default" ng-hide="countVisibleItems() ==0">{{countVisibleItems()}}</span>
</h3>
    <div class="home-search">
    <h4><label><input type="text" class="form-control" ng-model="priceItem" >Hoe veel heb je voor je {{vm.item.random}} betaald?</label></h4>
    

<button class="btn btn-home" ng-click="searchItemsWithinPriceItem"(priceItem, locationItem, locationUser)>Spaar</button>
</div>
  
</div>
       
    <br />
    <div class="footer inline-list">
<ul>
<li>
<a href="/about">About</a>
</li>
<li>
<a href="/help">Help</a>
</li>
<li>
<a href="/tos">Terms</a>
</li>
<li>
<a href="/brand-assets">Brand</a>
</li>
<li>
<a href="/advertise">Advertise</a>
</li>
<li>
<a href="/business">Businesses</a>
</li>
<li>
<span class="copyright"> © 2014 Verse Markt</span>
</li>
</ul>
</div>
</body>
    
</html>