<p class="status good" ng-show-auth="login">Hello! You are logged in.</p>
<p class="status" ng-show-auth="logout">Not logged in</p>
<p class="status error" ng-show-auth="error">{{auth.error}}</p>

<h3>
    verse producten
    <span class="label label-default" ng-hide="countVisibleProducts() ==0">{{countVisibleProducts()}}</span>
</h3>
    <div class="home-search">
    <h4><label><input type="text" class="form-control" ng-model="syncedValue" >Hoe veel heb je voor je {{product.random}} betaald? {{syncedValue}}</label></h4>
    

<button class="btn btn-home" ng-click="searchItemsWithinPriceItem"(priceItem, locationItem, locationUser)>Spaar</button>
</div>
  
</div>
<br />