<!DOCTYPE html>
<html ng-app="vmApp">
    
<head>
<title>Verse Markt</title>
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../css/bootstrap-theme.css" rel="stylesheet" />
<link href="versemarkt.css" rel="stylesheet" />
<script src="../angular/angular.min.js"> </script> 
</head>
    
<body ng-controller="VMCtrl">
<div class="page-header">
<h1>
Verse Markt   
</h1>
    </div>
<div class="panel">
   
<h3>
    Verse Markt verse producten
    <span class="label label-default" ng-hide="countVisibleItems() ==0">{{countVisibleItems()}}</span>
</h3>
    <div class="home-search">
    <h4><label><input type="text" class="form-control" ng-model="priceItem" >Hoe veel heb je voor je {{vm.item.random}} betaald?</label></h4>
    

<button class="btn btn-default" ng-click="searchItemsWithinPriceItem"(priceItem, locationItem, locationUser)>Spaar</button>
</div>
  
</div>
       
    <br />
    <div class="footer inline-list">
<ul>
<li>
<a href="/about">About</a>
</li>
<li>
<a href="/help">Help</a>
</li>
<li>
<a href="/tos">Terms</a>
</li>
<li>
<a href="/brand-assets">Brand</a>
</li>
<li>
<a href="/advertise">Advertise</a>
</li>
<li>
<a href="/business">Businesses</a>
</li>
<li>
<span class="copyright"> © 2014 Verse Markt</span>
</li>
</ul>
</div>
</body>
    
</html>