   <script>
    var model = {
        user: "Eve"        
    };
    
    var vmApp = angular.module("vmApp", []);
    
    vmApp.run(function ($http) {
        $http.get("producten.json").success(function (data) {
        model.items = data;
        });
    
    });
    
    vmApp.filter("hiddenItems", function() {
        return function (items, showHidden) {
            var filterResultArr = [];
            angular.forEach(items, function (item) {
                if (item.hide == false || showHidden == true) {
                    filterResultArr.push(item);
                }
            });
            return filterResultArr;
        }
    });
    
    vmApp.controller("VMCtrl", function ($scope) {
        $scope.vm = model;
        
    $scope.countVisibleItems = function () {
        var countV = 0;
        angular.forEach($scope.vm.items, function (item) {
            if (!item.hide) {countV++}
        });
        return countV;
    }
    
    $scope.countHiddenItems = function () {
        var countH = 0;
        angular.forEach($scope.vm.items, function (item) {
            if (item.hide) {countH++}
    
    });
        return countH;
    }
    
    $scope.addNewItem = function (nameNewItem, qtyNewItem) {
        $scope.vm.items.push({hide: false, name: nameNewItem, qty: qtyNewItem, kgprice: "", price: "", pic: "src.." });
    }
    
    $scope.calculatePrice = function (fqty, fkgprice) {
        var price = (fqty) * (fkgprice);
        
        return price;
    }
    
    });
    
</script> 
 
<div class="panel panel-buy">
    <h3>
    Verkrijgbaar verse producten
    <span class="label label-default" ng-hide="countVisibleItems() ==0">{{countVisibleItems()}}</span>
</h3>
<div class="input-group">
<!--<input class="form-control" />-->
    <label><input type="search" class="form-control" ng-model="nameNewItem" >waar heb je trek in vandag?</label>
    
<!--    <input type="file" class="form-control" ng-model="picNewItem" />-->

<span>
    <button class="btn btn-sell" ng-click="searchItemsWithinPriceItem"(priceItem, locationItem, locationUser)>Zoek</button>
        </span>
</div>
    <br />
<table class="table table-striped">
<thead>
<tr>
<th>Verse</th>
<th>Aantal</th>
<th>Prijs</th>
<th>Foto</th>
<th>In 't maatje</th>
</tr>
</thead>
<tbody>
    <tr ng-repeat="item in vm.items | hiddenItems:showHidden | orderBy:'name'">
        <td>{{item.name}}</td>
        <td>{{item.qty}}</td>
        <td>{{calculatePrice(item.qty, item.kgprice)}}</td>
        <td>{{item.pic}}</td>
        <td>
            <input type="checkbox" ng-model="item.hide" />
        </td>
    </tr>
</tbody>
</table>
    <div class="checkbox-inline">
    <label><input type="checkbox" ng-model="showHidden"> Toon verborgen producten </label>
        <span class="label label-default" ng-hide="countHiddenItems() ==0">{{countHiddenItems()}}</span>
    </div>
    <span>
    <button class="btn btn-sell" ng-click="searchItemsWithinPriceItem"(priceItem, locationItem, locationUser)>Koop</button>
        </span>
</div>
<br />
