<!DOCTYPE html>
<html ng-app="vmApp">
<head>
<title>Verkoop je verse producten</title>
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../css/bootstrap-theme.css" rel="stylesheet" />
<link href="versemarkt.css" rel="stylesheet" />
<script src="../angular/angular.min.js"> </script>
<script>
    var model = {
        user: "Adam"        
    };
    
    var vmApp = angular.module("vmApp", []);
    
    vmApp.run(function ($http) {
        $http.get("producten.json").success(function (data) {
        model.items = data;
        });
    
    });
    
    vmApp.filter("hiddenItems", function() {
        return function (items, showHidden) {
            var filterResultArr = [];
            angular.forEach(items, function (item) {
                if (item.hide == false || showHidden == true) {
                    filterResultArr.push(item);
                }
            });
            return filterResultArr;
        }
    });
    
    vmApp.controller("VMCtrl", function ($scope) {
        $scope.vm = model;
        
    $scope.countVisibleItems = function () {
        var countV = 0;
        angular.forEach($scope.vm.items, function (item) {
            if (!item.hide) {countV++}
        });
        return countV;
    }
    
    $scope.countHiddenItems = function () {
        var countH = 0;
        angular.forEach($scope.vm.items, function (item) {
            if (item.hide) {countH++}
    
    });
        return countH;
    }
    
    $scope.addNewItem = function (nameNewItem, qtyNewItem) {
        $scope.vm.items.push({hide: false, name: nameNewItem, qty: qtyNewItem, kgprice: "", price: "", pic: "src.." });
    }
    
    $scope.calculatePrice = function (fqty, fkgprice) {
        var price = (fqty) * (fkgprice);
        
        return price;
    }
    
    });
    
</script>
</head>
<body ng-controller="VMCtrl">
<div class="page-header">
<h1>
Verse Markt   
</h1>
</div>
<div class="panel panel-sell">
    <h3>
    {{vm.user}}'s verse producten
    <span class="label label-default" ng-hide="countVisibleItems() ==0">{{countVisibleItems()}}</span>
</h3>
<div class="input-group">
<!--<input class="form-control" />-->
    <label><input type="text" class="form-control" ng-model="nameNewItem" >Naam</label>
    
    <label><input type="number" class="form-control" ng-model="qtyNewItem" >Aantal (Kg)</label>
    
<!--    <input type="file" class="form-control" ng-model="picNewItem" />-->
<span class="input-group-btn">
<button class="btn btn-default" ng-click="addNewItem(nameNewItem, qtyNewItem, picNewItem)">Add</button>
</span>
</div>
    <br />
<table class="table table-striped">
<thead>
<tr>
<th>Verse</th>
<th>Aantal</th>
<th>Prijs</th>
<th>Foto</th>
<th>Verberg</th>
</tr>
</thead>
<tbody>
    <tr ng-repeat="item in vm.items | hiddenItems:showHidden | orderBy:'name'">
        <td>{{item.name}}</td>
        <td>{{item.qty}}</td>
        <td>{{calculatePrice(item.qty, item.kgprice)}}</td>
        <td>{{item.pic}}</td>
        <td>
            <input type="checkbox" ng-model="item.hide" />
        </td>
    </tr>
</tbody>
</table>
    <div class="checkbox-inline">
    <label><input type="checkbox" ng-model="showHidden"> Toon verborgen producten </label>
        <span class="label label-default" ng-hide="countHiddenItems() ==0">{{countHiddenItems()}}</span>
    </div>
    <span>
    <button class="btn btn-sell" ng-click="searchItemsWithinPriceItem"(priceItem, locationItem, locationUser)>Verkoop</button>
        </span>
</div>
</body>
</html>