<!-- About Section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Hoe werkt het?</h2>
				<h3 class="section-subheading text-muted">
					Versemarkt is de eerste online verse markt van Nederland.
                    We willen aan marktverkoopmans de mogelijkheid bieden om hun verse producten online te kunnen verkopen aan mensen als wij die helaas de mogelijkheid om naar de markt te gaan niet hebben voor een of de andere reden. Daardoor hopen we de locale economie te kunnen ondersteunen en zorgen voor gezond eten.
				</h3>
                <p class="text-muted">
									Kies welke prefiel beter aan je past om meer te weten over hoe het werkt!
								</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-6">
				<ul class="timeline about">
					<li>
                        <div class="about-image-bez">
				<a href="#/bezoekers"><img class="img-circle img-responsive" src="img/bezoeker.jpg" alt="marktbezoeker"></a>	
						</div>
				        <div class="about-heading-bez">
                        <h4 class="heading">Bezoekers </h4>
                        </div>
					</li>
					<li>
					<div class="about-image-ver">
							<a href="#/verkopers"><img class="img-circle img-responsive" src="img/marktkoopman.jpg" alt="marktkooper"></a>
                            
						</div>
                        <div class="about-heading-ver">
						<h4 class="heading">Verkopers </h4>
                        </div>	
					</li>
				</ul>
            <div class="timeline-image doe-mee">
                <p class="text-muted">
									of doe ff maar mee!
								</p>
							<button class="btn btn-xl" type="button">
								Sign in!
                                </button>
							</h4>
						</div>
		</div>
	</div>
</section>

