<!-- Bezoekers Section -->
<section id="bezoekers">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Geen tijd om naar de markt de gaan?</h2>
				<h3 class="section-subheading text-muted">
					Versemarkt is de eerste online verse markt van Nederland.
                    We houden van de markt en we willen graag mensen die niet naar de markt kunnen helpen.
                    Door onse webdients je kan verse producten bij markten die bij jou in de buurt zijn vinden. Met onze gratis web applicatie kan je verse producten online bestellen, tijd en geld sparen en toch gezond eten.
					
                    Hier is, in drie simpele stappen, hoe het duidelijk werkt:
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<i class="img-circle img-responsive fa fa-users fa-5x"></i>
                            
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Stap 1</h4>
								<h4 class="subheading">Doe aan de gezelschap mee</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
									Maak een nieuwe account of sign-in met je facebook in 2 stappen
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<i class="img-circle img-responsive fa fa-eye fa-5x"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Stap 2</h4>
								<h4 class="subheading">Kijk naar aangeboden verse producten</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
								    Ga naar Producten en kijk wat voor verse producten op markten bij je in de buurt aangeboden zijn. Of zoek op je favoriete kraam en bestel je bodschap van tevoren.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<i class="img-circle img-responsive fa fa-truck fa-5x"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Stap 3</h4>
								<h4 class="subheading">Versemarkt komt bij je thuis</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
								Als je een lijst gemaakt heb, tik op "Koop" om je verse bodschap af te rekenen. Voordat je uitcheckt kan je kiezen of op het zelfde dag je verseproducten te laten bezorgen of je zelf die te komen ophalen.
								</p>
							</div>
						</div>
					</li>
				</ul>
                <div class="timeline-body">
								<p class="text-muted">
									Gefeliceteerd! Nu ben je klaar om ermee te beginnen!
								</p>
                                <p class="text-muted">
                                    Ontspan en geniet van de lekkernijnen!
                
							</div>
			</div>
		</div>
	</div>
</section>

