<!-- Verkopers Section -->
<section id="verkopers">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Heb jij een kraam?</h2>
				<h3 class="section-subheading text-muted">
					Versemarkt is de eerste online verse markt van Nederland.
                    We houden van de markt en we willen graag marktverkoopmans die verse producten verkopen helpen.
                    Door onse webdients je kan klanten bereiken die niet naar de markt kunnen komen maar toch hadden ze heel graag iets lekkers van de markt willen kopen. Met onze grats web applicatie kan je je producten op onze online verse markt verkopen en meer klanten bereiken.
					
    <!-- LOGISTIC to put on FAQ 
                    We verzamelen de bestellingen tot 17:00 uur elke marktdag. Bestellingen zijn verzameld per marktplaats  zo maakt het makkelijk om de bezorging naar de klanten te regelen. 
                    Meer weten over bezorging? 
                    We trekken een bezorging lot tussen elke verkopers van de markt (dus kan niet meer dan een keer tot maximaal 5 keer per jaar je buurt worden) toch geniet je alle andere keren van de voordelen van een online winkel. Wie de bezorging lot trekt wint de bezorging en zal dan ook alle bestellingen gaan bezorgen. Er kan zijn dat er 3 of 4 bezorging lotten per markt zullen zijn door juist een enthusiaste reactie van consumenten. Wij hopen het!
    -->
					
                    Hier is, in drie simpele stappen, hoe het duidelijk werkt:
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<i class="img-circle img-responsive fa fa-users fa-5x"></i>
                            
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Step 1</h4>
								<h4 class="subheading">Doe aan de gezelschap mee</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
									Maak een nieuwe account of sign-in met je facebook in 2 stappen
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<i class="img-circle img-responsive fa fa-camera-retro fa-5x"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Step 2</h4>
								<h4 class="subheading">Maak een foto van je product</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
								    Ga naar Verkoop. Tik op de camera icon om een foto te maken of selecteren. Zorg dat je een knappe foto heb, die maakt je ads aantrekelijker.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<i class="img-circle img-responsive fa fa-tag fa-5x"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Step 3</h4>
								<h4 class="subheading">Zeg maar wat het is</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
								Voer de naam van de product, de hoeveelheid en prijs per Kg in. Tik op "Verkoop"	
								</p>
							</div>
						</div>
					</li>
				</ul>
                <div class="timeline-body">
								<p class="text-muted">
									Gefeliceteerd! je hebt net je eerste product op versemarkt aangeboden!
								</p>
                                <p class="text-muted">
                                    Ontspan en geniet van je <i class="fa fa-coffee fa-lg"> </i>
                
							</div>
			</div>
		</div>
	</div>
</section>

