<!-- Sell view -->
  <div id="verkopen-container" class="container">    
    <section id="verkoop">
        <h2 class="section-heading">Verkoop je verse producten</h2>
<div class="form-center">
<form id="add_product_form" action="/s">
    <div class="name-product-wrapper">
        <input type="file" class="add-image" ng-model="picNewItem" placeholder="Foto"> </input>
        <input id="name_product" class="name-product input-xl input-contrast" type="text" placeholder="Wat zou je graag verkopen?" name="name-product" autocomplete="on"></input>
    
    <input id="qty" class="qty-kgprice search-option input-xl input-contrast" type="text" placeholder="Kg" name="qty"></input>
    <input id="kgprice" class="qty-kgprice search-option input-xl input-contrast" type="text" placeholder="Kg prijs" name="checkout"></input>
        <select id="category" class="select select-xl" name="categories">
            <option value="1">
                Groenten
            </option>
            <option value="2">
                Fruit
            </option>
            <option value="3">
                Vis
            </option>
            <option value="4">
                Vlees
            </option>
            <option value="5">
                Delicatessen
            </option>
        </select>
    <button id="add_product" class="btn-add btn btn-xl" type="submit" ng-click="addProduct(newProduct, qty, kgprice)">Verkoop</button>
      </div>
</form>
</div>
    <div id="verkoop-text" class="block">
        <p id="verkoop-bold" class="bold">je klanten zijn zo ver weg als een tik</p>
        <p id="verkoop-body">Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.</p>
      </div>
    </section>
  </div>
  <div class="clear"></div>
