/* Base styles */

* {
  outline: none !important;
  -moz-outline-style: none;
}

body {
  font-family: "proxima-nova", arial, sans-serif;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 400;
}

h2 {
  font-size: 5em;
  color: #F38630;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 29px;
}

h3 {
  font-size: 3em;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 15px;
}

p.bold {
  font-size: 2.5em;
  line-height: 36px;
  margin-bottom: 15px;
}

p {
  font-size: 1.8em;
  line-height: 26px;
  margin-top: 0;
}


/* Top header */

div#header-container {
  background-color: #222;
  z-index: 1;
}

header#top-header {
  text-align: center;
  height: 100px;
  padding: 0;
}

ul#top-menu {
  padding-top: 33px;
}

ul#top-menu li {
  display: inline;
  font-size: 1.3em;
  text-transform: uppercase;
  margin-right: 25px;
}

ul#top-menu li a {
  color: #FFF;
  text-decoration: none;
}

ul#top-menu li a:hover {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid #000;
}


.btn-search, .btn-add {
    background-color: green;
    color: #fff;
    font-size: 1.5em;
    padding-bottom: 7px;
    padding-top: 7px;
}


/* Title */

div#title-container {
  background: #E0E4CC url('images/haagsemarkt-background.jpg') no-repeat fixed center top;
}

section#title {
  height: 750px;
  padding: 0;
  text-align: center;
}

h1#title-text {
  font-family: "droid-sans-mono", "proxima-nova", arial, sans-serif;;
  font-size: 8em;
  text-transform: uppercase;
  padding-top: 250px;
}

.red {
    color: red;
}
.white {
  color: #FFF;
}

div#title-arrow {
  padding-top: 33px;
}

/* Intro */

div#intro-container {
    background: url('images/tomaat.jpg') no-repeat 40% 50%;
    padding-top: 100px;
}

section#intro {
    margin-left: 50%;
    text-align: left;
}

.intro-input {
    width:45%;
}


div#intro-text {
  padding-top: 25px;
  width: 60%;
    
}

/* Koop */

div#koop-container {
  background: #EBEBEB url('images/koop-background.jpg') no-repeat fixed center;
  margin-top:  100px;
  margin-bottom: 100px;
  overflow: visible;
}

section#koop {
  margin-left: 25%;
  height: 100%;
}

div#koop-text {
  width: 32%;
  padding-left: 50px;
  background: #EBEBEB;
  opacity: 0.65;
  padding-top: 150px;
  padding-bottom: 150px;
}

p#koop-body {
  width: 80%;
}

.koop-search {
    width: 50%;
}

/* Verkoop */

div#verkoop-container {
    padding-top: 100px;
    
}

section#verkoop {
  text-align: center;
  margin-bottom: 100px;
}

.form-center {
    text-align: center;
}

.name-product-wrapper {
    display: inline-block; 
}

#name_product {
    width: 290px;
    border-right: 0px;
    border-radius: 0px;
    border: 1px solid #DCE0E0;
    background-color: #FFF;
    color: #565A5C;
}
    
.form-inline {
    display: inline;
    box-sizing: border-box;  
}


.input-large {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

input.add-image[type="file"] {
    display: inline;
}

.qty-kgprice {
    width: 130px;
    border-right: 0px;
    border-radius: 0px;
    border: 1px solid #DCE0E0;
    background-color: #FFF;
    color: #565A5C;
}

.add-image {
    width: 190px;
}

.select-large {
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;

}
.select {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    border-right: 0px;
    border-radius: 0px;
    border: 1px solid #DCE0E0;
    background-color: #FFF;
    color: #565A5C;
}

#category {
  border: 0px;  
}

div#verkoop-text {
  margin-top: 50px;
}

/* Laatste Producten */

div#lproduct-container {
  background-color: #A7DBD8;
  padding-top: 100px;
}

section#lproduct {
  height: 800px;
}

div#lproduct-text {

}

p#lproduct-body {

}

/* Team */

div#team-top-container {
  background: #222;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

section#team h2 {
  color: #FFF;
}

.headshot {
  border-radius: 200px;
}

section#team {
text-align: center;
}

div#team-members {
    display: inline-flex;
}

section#team h2, section#team h3, div#team-davide p, div#team-federico p, div#team-maurizio  {
  color: #FFF;
}

div#team-davide, div#team-maurizio {
  width: 30%;
}

div#team-federico {
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
}

p.team-title {
  font-style: italic;
  margin-bottom: 15px;
  margin-top: -15px;
}

/* Contact */

div#contact-container {
  background: url('images/contact-background.jpg') no-repeat fixed bottom right;
  padding-bottom: 100px;
}

section#contact {
    margin-left: 22%;
  
}

section#contact a {
  color: #000;
  text-decoration: none;
}

section#contact a:hover {
  text-decoration: underline;
}

div#contact-heading {
  width: 360px;
  margin-top: 100px;
}

div#contact-info {
  padding-left: 50px;
}

/* Footer */

div#footer-container {
  background-color: #222;
}

footer#footer {
  height: 70px;
}

div#footer-text {
  font-size: 18px;
  color: #FFF;
  padding-top: 25px;
  padding-left: 50px;
  float: left;
}

div#back-top {
    padding-top:25px;
    padding-right: 100px;
}

#footer a {
  float: right;
  color: #FFF;
  text-decoration: none;
}

#footer a:hover {
  color: #ccc;
}
