<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Verse &middot; Markt</title>
  <meta name="description" content="Verse Markt help u met uw verse producten, groenten, vlees, vis en fruit.">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="home-layout.css">
  <link rel="shortcut icon" href="versemarkt.ico">

</head>
<body>
  
    <!-- Header with main navigation -->
  <div id="header-container" class="container">
    <header id="top-header">
      <ul id="top-menu" class="block">
        <li><a href="#intro">Home</a></li>
        <li><a href="#koop">Koop</a></li>
        <li><a href="#verkoop">Verkoop</a></li>
        <li><a href="#producten">Producten</a></li>
        <li><a href="#team-top-container">Our Chiefs</a></li>
        <li><a href="#contact">Meer weten?</a></li>
      </ul>
      <div id="top-logo" class="block">
        <img style="width: auto; height: 35px;" src="images/top-header-logo.jpg" alt="Verse Markt">
      </div>
    </header>
  </div>
  <div class="clear"></div>
  
    
    <!-- Main Title -->
  <div id="title-container" class="container">
    <section id="title">
      <h1 id="title-text">Verse <span class="white">Markt</span></h1>
      <h2 id="subtitle-text">V0.1 <span class="red">trotstomaat</span></h2>
      <div id="title-arrow">
        <a class="no-offset not-mobile" href="#intro"><img src="images/down-arrow.png" alt="Down arrow"></a>
      </div>
    </section>
  </div>
  <div class="clear"></div>

    
   <!-- Floating Navigation needs JS
  <div id="second-menu-container" class="container">
    <section id="second-menu">
      <ul id="menu" class="block">
        <li id="menu-intro"><a href="#intro">Home</a></li>
        <li id="menu-koop"><a href="#koop">Koop</a></li>
        <li id="menu-verkoop"><a href="#verkoop">Verkoop</a></li>
        <li id="menu-team"><a href="#team-top-container">Our Chiefs</a></li>
        <li id="menu-contact"><a href="#contact">Contact Us</a></li>
      </ul>
      <div id="menu-logo" class="block">
        <a href="#header-container"><img src="images/menu-logo.png" alt="Verse Markt"></a>
      </div>
    </section>
  </div>
  <div class="clear"></div>
    -->    

    
    <!-- Intro view -->
  <div id="intro-container" class="container">
    <section id="intro">
      <div id="intro-text" class="block">
        <h2>Al weer?</h2>
        <div class="home-search">
    <input type="text" class="main-control" ng-model="priceProducts" placeholder="Hoe veel heb je deze week voor je verse producten betaald?" ></input>
<button class="btn btn-search" ng-click="searchProductsWithinPriceProducts"(priceProducts, locationProducts, locationUser)>Spaar</button>
        </div>
        <p class="bold">Kies voor vers, kies voor de markt!</p>
        <p>Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.</p>
      </div>
    </section>
  </div>
  <div class="clear"></div>
    
    
  <!-- Buy view -->  
  <div id="koop-container" class="container">
    <section id="koop">
      <div id="koop-text" class="block"> 
        <h2>Zin in?</h2>
          <div class="koop-search">
    <input type="text" class="main-control" ng-model="sProduct" placeholder="Waar heb je zin in?"></input>
    <button class="btn btn-search" ng-click="searchProducts"(sProduct)>Zoek</button>
</div> 
        <p id="koop-bold" class="bold">Wat kook jij vanavond?</p>
        <p id="koop-body">Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.</p>
      </div>

    </section>
  </div>
  <div class="clear"></div>

    
  <!-- Sell view -->
  <div id="verkopen-container" class="container">    
    <section id="verkoop">
      <div id="verkoop-text" class="block">
        <h2>Verkoop je verse producten</h2>
<div class="form-center">
<form id="add_product_form" action="/s">
    <div class="name-product-wrapper">
        <input type="file" class="add-image form-inline" ng-model="picNewItem" placeholder="Foto"> </input>
        <input id="name_product" class="form-inline name-product input-large input-contrast" type="text" placeholder="Wat zou je graag verkopen?" name="name-product" autocomplete="on"></input>
    </div>
    <input id="qty" class="form-inline qty-kgprice search-option input-large input-contrast" type="text" placeholder="Kg" name="qty"></input>
    <input id="kgprice" class="form-inline qty-kgprice search-option input-large input-contrast" type="text" placeholder="Kg prijs" name="checkout"></input>
    <div class="select select-large">
        <select id="category" name="categories">
            <option value="1">
                Groenten
            </option>
            <option value="2">
                Fruit
            </option>
            <option value="3">
                Vis
            </option>
            <option value="4">
                Vlees
            </option>
            <option value="5">
                Delicatessen
            </option>
        </select>
    </div>
    <button id="add_product" class="btn-add form-inline btn" type="submit" ng-click="addProduct(newProduct, qty, kgprice)">Verkoop</button>
</form>
</div>
        <p id="verkoop-bold" class="bold">Houd je klanten net zo dichtbij als een click</p>
        <p id="verkoop-body">Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.</p>
      </div>
    </section>
  </div>
  <div class="clear"></div>
    
    
    <!-- Latest Products view -->
<div id="lproduct-container" class="container">    
    <section id="lproduct">
      <div id="lproduct-text" class="block">
        <h2>Kijk naar ons aanbod</h2>
        <p class="bold">Altijd verste, altijd goedkopste</p>
        <p>Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.</p>
      </div>
    </section>
  </div>
  <div class="clear"></div>

    <!-- Chiefs view -->
  <div id="team-top-container" class="container">
      <section id="team-2">
        <div id="team-details">
          <div id="team-heading-2">
            <h2>The Chiefs</h2>
          </div>
          <div id="team-davide-2" class="block">
            <img class="headshot" src="images/davide.png">
          </div>
          <div id="team-federico-2" class="block">
            <img class="headshot" src="images/federco.png">
          </div>
          <div id="team-maurizio-2" class="block">
            <img class="headshot" src="images/maurizio.png">
          </div>
        </div>
      </section>
  </div>
  <div class="clear"></div>

    
    <!-- Chiefs Bio view -->
  <div id="team-bottom-container" class="container"> 
    <section id="team">
      <div id="team-details">
        <div id="team-heading" class="block">
          <h2>The Chiefs</h2>
        </div>
        <div id="team-davide" class="block">
          <h3>Davide Lucchesi</h3>
          <p class="team-title">Chief Technology Officer</p>
          <p>lalalalala lalalalala lalalalala</p>
        </div>
        <div id="team-federico" class="block">
          <h3>Federico Fantini</h3>
          <p class="team-title">Chief Executive Officer</p>
          <p>lalalalala lalalalala lalalalala</p>
        </div>
        <div id="team-maurizio" class="block">
          <h3>Maurizio Bricola</h3>
          <p class="team-title">Chief Creative Officer</p>
          <p>lalalalala lalalalala lalalalala</p>
        </div>
      </div>
    </section>
  </div>
  <div class="clear"></div>

    
    <!-- Contact view -->
  <div id="contact-container" class="container">    
    <section id="contact">
      <div id="contact-text" class="block">
        <div id="contact-deets">
        </div>
        <div id="contact-heading">
          <h2>Meer weten?</h2>
        </div>
        <div id="contact-address" class="block">
          <p>Neem contact met ons:</p>
        </div>
        <div id="contact-info" class="block">
          <p>E. <a href="mailto:inof@versemarkt.nl">info@versemarkt.nl</a> <br>M. <a href="tel:0123456789">0123456789</a> <br><a href="https://www.facebook.com/versemarkt">Facebook</a></p>
        </div>
      </div>
    </section>
  </div>
  <div class="clear"></div>

    
    <!-- Footer container -->
  <div id="footer-container" class="container">    
    <footer id="footer">
      <div id="footer-text" class="block">
        <span>&copy;2014 Verse Markt</span> &middot;
        <span><a href="/legal/websiteterms">Terms</a></span> &middot;
        <span><a href="/legal/privacypolicy">Privacy Policy</a></span>
      </div>
      <div id="footer-logo" class="block">
        <a href="#header-container">^ Top ^</a>
      </div>
    </footer>
  </div>

   
  
</body>
</html>
